@font-face {
  font-family: Roboto;
  src: url(Roboto-Light.ttf);
  }

body{
  color:black;
  background-color: #5252525c;
  background-image: url(https://srki-tech.github.io/images/bg.png);
  background-position: top left;
  background-repeat: repeat;
  font-family: Roboto;
}

h1{
  display: inline;
  font-size:16px;
  background-color: #efefef;
}

a{
  text-decoration: underline;
}

.row{
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  padding-bottom: 10px;
  overflow: hidden; 
}

.navbar{
  min-height: 35px;
  margin: 0;
  padding:0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #424242;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.53);
  font-size: 14px;
}

.navbar-toggler{
  width: 25px;
  padding: 0;
}

.navbar-toggler-icon{
  width: 100%;
}

.navbar a{
  font-size: 16px;
  color: white!important;
  text-decoration: underline;
  margin:  0 auto;
}

.navbar ul{
  width: 100%;
}

.navbar h2{
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: inline;
}


/* 4 page na v 
@media only screen and (max-width: 768px) {
  .nav-fill .nav-item, .nav-fill>.nav-link{
    display: inline-block;
    width: 50%;
  }
}
*/

/* 3 page na h */
.nav-link{
  padding: .5rem!important;
}


#author{
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
}

#author a{
  margin: 0 auto;
  font-size: 16px;
  font-weight: normal;
  text-decoration: underline;
  display: block;
  height: 20px;
}

#author a:hover{
  text-decoration: none;
}

#brand .brand{
  width: 100%;
  background-color: white;
  color: black;
  text-align:center;
  font-family: 'Roboto',sans-serif;
}

h2.name{
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 36px;
  color:white;
  text-align: center;
}

h2.trade{
  padding: 0;
  margin: 0;
  font-size: 22px;
  color:white;
  text-align: center;
}

.bio_text h2{
  margin:0;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  display: inline;
}

.bio_text{
  padding: .5em 1.7em .5em 1.7em;
  margin: auto;
  border: 0;
  font-style: italic;
}

.bio_text:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 3em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}

.bio_text:after {
  font-family: Georgia, serif;
  position: absolute;
  float:right;
  font-size:3em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
}

.chat_text{
  margin: auto;
  margin-top: 10px;
  min-height: 300px;
}

.page_title h2{
  margin:0;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  display: inline;
}

.bio_text h3{
  margin: 0!important;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  display: inline;
}

.desc h3.title{
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline;
}

.text-center h3{
  display: inline;
  font-size: 1rem;
  font-weight: normal;
}

h3{
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  display: inline;
}

h3.author{
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  height: 26px;
}

h4{
  margin:0;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  display: inline;
}

h5{
  margin:0;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  display: inline;
}

.wrapHeader{
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  width:255px;
  height: 265px;
  flex: none;
  background: linear-gradient(to bottom,rgb(0 0 0 / 0%) 18px,#424242 18px,#424242 22px,rgb(0 0 0 / 0%) 22px);
}

.MyPhoto{
  border-top:4px solid #424242;
  width: 200px;
  height: 204px;
  background-color: white;
  display: block;
}

.MyLogo{
  margin: 0 auto;
  width: 200px;
  height:60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#wnav{
  position: absolute;
  width: 255px;
  height: 35px;
}

#wnav a{
  display: block;
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  background-position: center;
}

#wnav input{
  display: block;
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  background-position: center;
  border: 0;
}

.NavPortfolio{
  background-image: url("../images/nav_btn/portfolio.png");
  right: 0;
  margin-top: 215px;
}

.NavSerbian{
  background-image: url("../images/nav_btn/serbian.png");
  right: 0;
  margin-top: 215px;
}

.NavEnglish{
  background-image: url("../images/nav_btn/european.png");
  right: 0;
  margin-top: 215px;
}

.NavGitHub{
  background-image: url("../images/nav_btn/github.png");
  right: 0;
  margin-top: 170px;
}

#NavTheme{
  background-image: url("../images/nav_btn/toggle-min.gif");
  right: 0;
  margin-top: 35px;
}

/* About */

.page-content{
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #efefef;
}

.NoP{
  padding: 0;
}

.NoM{
  margin: 0;
}

.txtC{
  text-align: center;
}

.page_title{   
  display: block;
  font-size: 16px;
  text-align: center; 
}

.arrow{
  margin: 0 auto; 
  height: 40px;
  width: 20px;
  display: block;
  transform: rotate(90deg);
  margin-top: -10px;
  margin-bottom: -10px;
}

.arrow-down{
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #424242;
}

.skills_icon{
  position: relative;
  font-size: 32px;
  display: block;
  height: 10px;
  top: -32px;
}

.skills_list{
  padding: 10px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  width: 270px;
  background: linear-gradient( rgb(66 66 66 / 0%) 0px, rgb(66 66 66 / 31%) 10px, rgba(255,255,255,1) 10px, rgba(255,255,255,1) 10px);
  box-shadow: 1px 4px 5px 5px silver;
}

.skills_title{
  display: block;
  margin:  0 auto;
  font-size: 16px;
}

.skills_list li{
  text-align: center!important;
}

.skills_list:first-child {
  padding-left: 0;
  padding-right: 0;
}

.skills_list img{
  border-radius: 0%!important;
}

.underline{
  text-decoration: underline;
  display: inline-block;
}

.list_block{
  list-style: square;
}

.list_none{
  list-style: none;

}

.skills_text{
  float: left;
}

.policy a{
  color: #fff!important;
}

/* Projects and Artwork */

.portfolio{
  margin: auto;
  max-width: 340px;
  height: auto;
  display: block;
}

.projectsart{
  margin-bottom:10px;
  text-align: center;
  float: left;
}

.projectsart img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -5px rgba(0,0,0,.53);
}

/* Footer */

.footer{
  padding: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #424242;
  box-shadow: 5px -5px 15px -5px rgba(0,0,0,.53);
  text-align: center;
  font-size: 14px;
}

.footer a{
  color: white!important;
  text-decoration: underline;
}

.footer a:hover{
  text-decoration: none;
}

/* LatoCyr */

.marginTop{
  margin: auto;
  margin-top: 10px;
  display: inline-block;
}

.marginTop20{
  margin: auto;
  margin-top: 20px;
  display: inline-block;
}

.marginTop40{
  margin: auto;
  margin-top: 40px;
  display: inline-block;
}

.mTW{
  max-width: inherit;
}

.marginTop5{
  margin: auto;
  margin-top: 5px;
  display: inline-block;
}

.marginBot{
  margin-bottom: 10px;
}

.button{
  float: left;
}

.zind1{
  z-index: 1;
}

.button2{
  margin:  0 auto;
}

.f_btn .button input{
  width: 100%;
  text-align: center;
}

#textbox{
  resize: none;
  width: 100%;
  height: 150px;
}

/* PdvKalk */

.marginTop input{
  width: 100%;
  text-align: center;
}

.marginTop select{
  width: 100%;
  text-align: center;
  height: 30px;
}

.Mfix{
  margin-bottom: 0;
  display: block;
  height: 30px;
  padding-top: 4px;
  text-align: center;
}

/* DisKalk */

.Fit{
  height: fit-content;
}

.e1p{
  background-color: #4fb7ff;
  color: #000000;
}

.e2p{
  background-color: #d9e34f;
  color: #000000;
}

#Glass{
  background-color: white;
}

#Glass #e0{
  width: 100%;
  height: auto;
}

#Glass #e1{
  position: absolute;
  width: 100%;
  height: auto;
  transform-origin: center center;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(https://srki-tech.github.io/web-dizajn/diskalk/images/e1.png);
  background-repeat: repeat;
}

#Glass #e2{
  position: absolute;
  width: 50%;
  height: auto;
  transform-origin: center center;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(https://srki-tech.github.io/web-dizajn/diskalk/images/e2.png);
  background-repeat: repeat;
}

/* OdoTime */
#display{
  font-size: calc(2.5vw + 2.5vh);
  min-height: 220px;
  background-image: url(https://srki-tech.github.io/web-dizajn/odotime/images/dashboard.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 40px;
  padding-left: 30px;
  font-weight: bold;
}

/* Banners */
.banadd{
  margin-top:5px;
  display: block;
  float: left;
}

.banadd img{
  width: 100%;
  height: auto;
}

.tlink{
  display: block;
  width: 250px;
  margin: 0 auto;
  color: #c99e00!important;
  text-decoration: underline;
}

/* Body DarkMode*/

body.dark-theme{
  background-color: #000000;
  color: #fff;
}

body.dark-theme a{
  color: #000000;
}

body.dark-theme .page-content{
  background-color: #696969;
}

body.dark-theme h1{
  background-color: #696969;
}

body.dark-theme .skills_list{
  background: linear-gradient(rgb(66 66 66 / 0%) 0,rgb(66 66 66 / 31%) 10px,rgb(0 0 0) 10px,rgb(34 34 34) 10px);
  box-shadow: 1px 4px 5px 5px #00000080;
}

body.dark-theme #display{
  filter: invert(100%);
  color: white;
}